h1 {
    color: black;
}
.podcast_image {
    width: 100px;
    display: block;
    padding: 10px;
}
.list-item {
    width: 50%;
    margin-bottom: 20px;
}
ol {
    list-style: none;
    display: flex; 
    flex-flow: row wrap;
}

@media screen and (max-width:480px)  {
    ol {
        list-style: none;
    }
    .list-item{
        width: 100%;
    }
    .podcast_image{
        width: 90%;
    }
}
